* {
  --background-color: #f4f3ed;
  --alt-background-color: #ffffff;
  --heading-color: #313130;
  --font-color: #313130;
}

.container, .card .card-title,
.card .card-content,
.card .card-buttons {
  max-width: 72rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  overflow: hidden;
}
@media (min-width: 42em) {
  .card.-big {
    flex-direction: row;
  }
  .card.-big .card-image {
    flex: 0 0 67.5%;
    margin-bottom: -0.5rem;
  }
  .card.-big .card-image > img {
    object-fit: none;
  }
  .card.-big .big-card-container {
    padding-top: calc(1.5rem / 2);
    display: flex;
    flex-direction: column;
  }
}
.card .card-title,
.card .card-content,
.card .card-buttons {
  width: 100%;
}
.card .card-image {
  margin-bottom: calc(1.5rem / 2);
}
.card .card-title p {
  font-weight: lighter;
  color: #313130;
}
.card .card-title p i {
  color: #313130;
}
.card .card-title p i:not(:first-of-type) {
  margin-left: 0.5rem;
}
.card .card-title h4 {
  text-transform: uppercase;
}
.card .card-content {
  flex-grow: 1;
  margin-bottom: 1.5rem;
}
.card .card-content .price {
  font-weight: bold;
}
.card .card-content .price p.price-title {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 100;
  color: gray;
}
.card .card-content .price span.vat-indicator {
  font-weight: normal;
  float: right;
  background-color: #d9d9d9;
  padding: 2px 5px;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.card .card-buttons a.button {
  display: block;
  width: 100%;
  margin-bottom: calc(1.5rem / 2);
  background: #ffffff;
  text-align: left;
  border: 1px solid #000000;
  padding: 0.75rem;
  font-weight: 600;
}
.card .card-buttons a.button .arrow {
  float: right;
}

@media (max-width: 42em) {
  .container {
    overflow-x: hidden;
  }
}

.grid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1.5rem;
  margin-bottom: calc(1.5rem / 2);
}
@media (min-width: 42em) {
  .grid {
    grid-gap: 0.75rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

header {
  min-height: 3rem;
  padding: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0.125rem 0.25rem;
  background: var(--alt-background-color);
}
header .header-menu {
  position: absolute;
  height: 100vh;
  width: 80vw;
  top: 0;
  transition: all 0.2s ease-in-out;
  left: -100%;
}
header .header-menu.open {
  left: 0;
}
@media (min-width: 42em) {
  header .header-menu {
    display: flex;
    justify-content: space-between;
    position: inherit;
    height: auto;
    width: auto;
    top: initial;
  }
}
header .header-menu .header-container {
  align-items: center;
}
@media (min-width: 42em) {
  header .header-menu .header-container {
    display: flex;
  }
}
header .header-menu .header-container > a {
  text-transform: uppercase;
  padding: 0 0.5rem;
  display: block;
}
@media (min-width: 42em) {
  header .header-menu .header-container > a {
    display: inline;
  }
}
header img {
  height: 2rem;
}
@media (min-width: 42em) {
  header img {
    position: absolute;
    top: 0.5rem;
    left: 50vw;
    transform: translate(-50%, 0);
  }
}

.section-title {
  text-align: center;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--font-color);
  background: var(--background-color);
  font-family: "system-ui", "Open Sans", sans-serif;
}
body a:active {
  text-decoration: none;
}

hr {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

img {
  margin: 0;
  max-width: 100%;
}

section {
  padding: 4.5rem 0;
}
section:first-of-type {
  padding-top: 6rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1.centered, h2.centered, h3.centered, h4.centered, h5.centered, h6.centered {
  text-align: center;
}

h1, h3 {
  font-weight: normal;
}

h1 {
  font-size: 3rem;
}

h2 {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4, h5 {
  font-size: 1.25rem;
}

h4 {
  margin: 0 0 calc(1.5rem / 2) 0;
}

h6 {
  font-size: 1rem;
  color: var(--low-contrast-text-color);
}

p {
  margin: 0 0 calc(1.5rem / 2);
  text-align: justify;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bold-text {
  font-weight: bold;
}

/*# sourceMappingURL=screen.css.map */
