@use "sass:map" as map;

@use '../abstracts/abstract-container';

@use '../settings/variables';
@use '../settings/breakpoints';

.card {
  display: flex;
  flex-direction: column;

  .card-title, .card-content, .card-buttons {
    @extend %abstract-container;
    width: 100%;
  }

  background-color: variables.$white;

  .card-image {
    margin-bottom: variables.$half-line-height;
  }

  .card-title h4 {
    text-transform: uppercase;

  }

  .card-content {
    flex-grow: 1;
    .price {
      font-weight: bold;

      p.price-title {
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 100;
        color: gray;
      }

      span.vat-indicator {
        font-weight: normal;
        float: right;
        background-color: #d9d9d9;
        padding: 2px 5px;
        font-size: 0.75rem;
        text-transform: uppercase;
      }

    }
  }

  .card-buttons {

    a.button {
      display: block;
      width: 100%;
      margin-bottom: variables.$half-line-height;
      background: variables.$white;
      text-align: left;
      border: 1px solid variables.$black;
      padding: 0.75rem;

      .arrow {
        float: right;
      }
    }
  }
}