@use "sass:map" as map;

@use '../settings/variables';
@use '../settings/breakpoints';

.grid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: variables.$base-line-height;
  margin-bottom: variables.$half-line-height;

  @media (min-width: map.get(breakpoints.$breakpoints, 'medium')) {
    grid-gap: 0.75rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

