@use "sass:map" as map;
@use '../settings/breakpoints';

header {
  min-height: 3rem;
  padding: 1rem 0;
  box-shadow: rgb(0 0 0 / 8%) 0 0.125rem 0.25rem;
  background: var(--alt-background-color);

  .container {
    display: flex;
    justify-content: space-between;

    @media (min-width: map.get(breakpoints.$breakpoints, 'medium')) {
      display: block;
    }

  }

  img {
    height: 2rem;

    @media (min-width: map.get(breakpoints.$breakpoints, 'medium')) {
      position: absolute;
      top: .5rem;
      left: 50vw;
      transform: translate(-50%, 0);
    }
  }
  @media (min-width: map.get(breakpoints.$breakpoints, 'medium')) {

  }
}